  .countries{
    height: 5vh;
    width: 15vw;
    padding: 1vh;
    margin: 0 auto;
    font-size: 1.5em;
    background-color: white;
    text-align: center;
  }
  .country-analysis{
    height: 50vh;
    width: 100%;
    margin: 5vh auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .common{
    width: 22vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 2em;
    border-radius: 2vh;
  }
  .common p{
    width: 100%;
    color:white;
  }
  .overall{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 5vh;
  }
  .current{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 5vh;
  }
  .today{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .confirmed{
    background-image: -webkit-gradient(linear,left top, right top,from(orange),to(red));
    background-image: -o-linear-gradient(left,orange,red);
    background-image: linear-gradient(to right,orange,red);
    -webkit-box-shadow: 0 0 2vh orange;
            box-shadow: 0 0 2vh orange;
  }
  .recovered{
    background-image: -webkit-gradient(linear,left bottom, right top,from(rgb(12, 245, 12)),to(green));
    background-image: -o-linear-gradient(bottom left,rgb(12, 245, 12),green);
    background-image: linear-gradient(to top right,rgb(12, 245, 12),green);
    -webkit-box-shadow: 0 0 2vh rgb(12, 245, 12);
            box-shadow: 0 0 2vh rgb(12, 245, 12);
  }
  .deaths{
    background-image: -webkit-gradient(linear,right top, left top,from(orange),to(red));
    background-image: -o-linear-gradient(right,orange,red,orange);
    background-image: linear-gradient(to left,orange,red,orange);
    -webkit-box-shadow: 0 0 2vh orange;
            box-shadow: 0 0 2vh orange;
  }
  .active{
    background-image: -webkit-gradient(linear,left, right,from(red),to(orange));
    background-image: -o-linear-gradient(left,red,orange);
    background-image: linear-gradient(to right,red,orange);
    -webkit-box-shadow: 0 0 2vh red;
            box-shadow: 0 0 2vh red;
  }
  .today{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 5vh;
  }
  .todayconfirmed{
    background-image: -webkit-gradient(linear,left bottom, right top,from(orange),to(red));
    background-image: -o-linear-gradient(bottom left,orange,red);
    background-image: linear-gradient(to top right,orange,red);
    -webkit-box-shadow: 0 0 2vh orange;
            box-shadow: 0 0 2vh orange;
  }
  .todaydeaths{
    background-image: -webkit-gradient(linear,left top, right bottom,from(red),to(orange));
    background-image: -o-linear-gradient(top left,red,orange);
    background-image: linear-gradient(to bottom right,red,orange);
    -webkit-box-shadow: 0 0 2vh orange;
            box-shadow: 0 0 2vh orange;
  }
  .todayrecovered{
    background-image: -webkit-gradient(linear,left bottom, right top,from(rgb(12, 245, 12)),to(green));
    background-image: -o-linear-gradient(bottom left,rgb(12, 245, 12),green);
    background-image: linear-gradient(to top right,rgb(12, 245, 12),green);
    -webkit-box-shadow: 0 0 2vh rgb(12, 245, 12);
            box-shadow: 0 0 2vh rgb(12, 245, 12);
  }
  
  @media only screen and (max-width: 450px){
    .countries{
      height: 10vh;
      width: 70vw;
      font-size: 1.5em;
      padding: 0;
    }
    .overall{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }
    .today{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }
    .common{
      width: 85vw;
      font-size: 1.7em;
      margin-bottom: 2vh;
    }
  }