.App{
  padding: 0 5vh;
  height: 100vh;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.App-header{
  height: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.App-header .logo{
  height: 10vh;
  margin-right: 5vh;
}
.App-header .title{
  font-size: 5em;
  font-weight: bold;
  background: -webkit-gradient(linear,left bottom, right top,from(red),to(blue));
  background: -o-linear-gradient(bottom left,red,blue);
  background: linear-gradient(to top right,red,blue);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.view{
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.countrySection{
  margin-top: -5vh;
}
.countryHeader{
  font-size: 3em;
  font-weight: bold;
  color: blue;
  text-align: center;
}
@media only screen and (max-width: 450px){
  .App-header{
    width: 100%;
    display: flex;
  }
  .App-header .logo{
    height: 10vh;
    width: 14vh;
    margin-left: 3vh;
  }
  .App-header .title{
    font-size: 2em;
    margin-left: -3vh;
  }
  .countryHeader{
    font-size: 1.7em;
  }
}